<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>StudentListOperationServlet</servlet-name>
        <servlet-class>com.servlet.StudentListOperationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentAddOperationServlet</servlet-name>
        <servlet-class>com.servlet.StudentAddOperationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDeleteOperationServlet</servlet-name>
        <servlet-class>com.servlet.StudentDeleteOperationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentUpdateOperationServlet</servlet-name>
        <servlet-class>com.servlet.StudentUpdateOperationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentListOperationServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StudentAddOperationServlet</servlet-name>
        <url-pattern>/AddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDeleteOperationServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentUpdateOperationServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>


</web-app>
